#jstask
    .box
        width: 270px
        height: 250px
        background-color: #9c6644
        border-radius: 20px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h1
            color: #ffff
            font-size: 40px
            font-weight: 700
        input
            width: 200px
            padding: 20px
            border-radius: 20px
            margin: 20px
            font-size: 18px
            color: #6c7480
        .btn
            width: 80px
            padding: 10px
            border-radius: 20px
            background-color: #ffff
            text-align: center
    .textbox
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        margin-top: 60px
        // input
        //     width: 200px
        //     padding: 8px
        //     border-radius: 30px
        //     display: flex
        //     text-align: center
        //     border: 3px solid #6c7480
        //     margin: 8px
        //     font-size: 22px
    @media screen and ( max-width: 768px )
        .box
            width: 200px
            height: 180px
            h1
                font-size: 30px
            input
                width: 150px
                padding: 10px
        .textbox
            margin-top: 40px
            input
                width: 150px
                padding: 5px
